.card-design {
  background-color: ;
}

.app {
  background: #F4F5F7;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bpy-4{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.body-section{
  background-color: #F4F5F7;
  height: 93vh;
 
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.center-text {
  text-align: center;
}
.card-design {
  background-color: #ffffff;
  width: 32.125rem;
  height: 34.75rem;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {

}

.form-design-full {
  flex-basis: 100%;
}

.form-design-half {
  flex-basis: 50%;
}

.form-width {
  /* height: 60px; */
}